<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<h1><%= t(:dashboard) %></h1>
<div class="entry">
     <div class="panel panel-default">
        <div class="panel-heading"><span class="calendar"><%= t(:this_year) %>:</span> <%= t(:new_account_development) %> </div>
        <%= line_chart @clients_months, {
            "library": { 
                "chart": {
                    "zoomType": "x"
                },
                "legend": {
                    "position": "top"
                },
                "hAxis": {
                    "title": t(:date)
                },
                "vAxis": {
                    "title": t(:new_clients)
                }
            },
            "discrete": true
        } %>
    </div>
</div>

<div class="entry">
     <div class="panel panel-default">
        <div class="panel-heading"><span class="calendar"><%= t(:this_year) %>:</span> <%= t(:sales) %> </div>
        <%= line_chart @sales_months, {
            "library": { 
                "chart": {
                    "zoomType": "x"
                },
                "legend": {
                    "position": "top"
                },
                "hAxis": {
                    "title": t(:date)
                },
                "vAxis": {
                    "title": t(:sales)
                }
            },
            "discrete": true
        } %>
    </div>
</div>

<div class="entry">
     <div class="panel panel-default">
        <div class="panel-heading"><span class="calendar"><%= t(:this_year) %>:</span> <%= t(:sales_by_products) %> </div>
        <%= pie_chart @sales_by_products.joins(:product).group("title").count %>
    </div>
</div>

<div class="entry">
     <div class="panel panel-default">
        <div class="panel-heading"><span class="calendar"><%= t(:this_year) %>:</span> <%= t(:sales_by_clients) %> </div>
        <%= pie_chart @sales_by_products.joins(:client).group("description").count %>
    </div>
</div>