<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Back', products_path, :class => 'btn btn-primary fa fa-arrow-left' %>
<%= link_to 'Edit', edit_product_path(@product), :class => 'btn btn-primary fa fa-pencil-square-o' %>