<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id %><br>
    <%= select("sale", "client_id", @clients.collect {|c| [ c.description, c.id ] }) %>
  </div>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= select("sale", "product_id", @products.collect {|p| [ p.title, p.id ] }) %>  
  </div>

  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary fa' %>
  </div>
<% end %>
