<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= Product.find(@sale.product).title %>
</p>

<p>
  <strong>Client:</strong>
  <%= Client.find(@sale.client).description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @sale.quantity %>
</p>

<%= link_to ' Edit', edit_sale_path(@sale) %> |
<%= link_to ' Back', sales_path %>
