<!DOCTYPE html>
<html>
<head>
  <title>Mountt - improve your business</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>
    
    <nav class="sidebar">
        <div class="brand">
            <%= link_to image_tag("logo.png"), '/' %>
        </div>
        <div class="menu">
            <ul>
                <li> 
                    <%= fa_icon "bar-chart" %>
                    <%= link_to t(:dashboard), dashboard_path %>
                </li>
                <li>
                    <%= fa_icon "user" %>
                    <%= link_to t(:clients), clients_path %>
                </li>
                <li>
                    <%= fa_icon "money" %>
                    <%= link_to t(:sales), sales_path %>
                </li>
                <li>
                    <%= fa_icon "cubes" %>
                    <%= link_to t(:products), products_path %>
                </li>
                <li>
                    <%= fa_icon "paper-plane" %>
                    <%= link_to t(:plans), dashboard_path %>
                </li>
            </ul>
        </div>
        <div class="copyright">
            © Roman Krasavtsev
        </div>
    </nav>

    <nav class="navbar">
        <div class="left">
            <button id="menu-button" type="button" class="btn btn-primary" aria-label="Left Align">
                <%= fa_icon "bars" %>
            </button>
        </div>
        <div class="right">
            <div class="welcome">
                <%= t(:welcome) %> Mountt, 
                <span class="username">Roman Krasavtsev</span>
            </div>
            <div class="language">
                <%= fa_icon "globe" %>
                <%= t(:language) %>
            </div>
            <div class="logout">
                <%= fa_icon "sign-out" %>
                <%= t(:logout) %>
            </div>
        </div>
    </nav>

    <div class="main-panel">
        <div class='<%= controller.controller_name %>'>
            <%= yield %>
        </div>
    </div>
</body>
</html>
