<!DOCTYPE html>
<html>
<head>
  <title>Mountt - improve your business</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>
    
    <nav class="sidebar open">
        <div class="brand">
            <%= image_tag("logo.png") %>
        </div>
        <div class="menu">
            <ul>
                <li> 
                    <%= fa_icon "bar-chart" %>
                    <%= link_to 'Dashboard', dashboard_path %>
                </li>
                <li>
                    <%= fa_icon "user" %>
                    <%= link_to 'Clients', clients_path %>
                </li>
                <li>
                    <%= fa_icon "money" %>
                    <%= link_to 'Sales', dashboard_path %>
                </li>
            </ul>
        </div>
    </nav>

    <nav class="navbar open">
        <div class="left">
            <button type="button" class="btn btn-primary" aria-label="Left Align">
                <%= fa_icon "bars" %>
            </button>
        </div>
        <div class="right">
            <div class="welcome">
                Welcome to Mountt, 
                <span class="username">Roman Krasavtsev</span>
            </div>
            <div class="logout">
                <%= fa_icon "sign-out" %>
                Log out
            </div>
        </div>
    </nav>

    <div class="main-panel open">
        <div class='<%= controller.controller_name %>'>
            <%= yield %>
        </div>
    </div>
</body>
</html>
